/*Defining colors*/
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FiraCode Nerd Font, FontAwesome, Helvetica, sans-serif;
  font-size: 12px;
  background-color: transparent;
}

window#waybar {
  background-color: rgba(7, 25, 36, 0.9294117647);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: 2px;
  border-color: #1ae2a1;
  border-radius: 0;
}
window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
.text-button {
  border-radius: 5px;
}
.text-button label {
  background: none;
}

#workspaces button {
  padding: 0px 10px 0px 4px;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each workspace name */
  border: solid 2px transparent;
  margin: 0px 2px;
}
#workspaces button:hover {
  background-color: #163d5d;
  box-shadow: 0px 2px 2px #000000;
}
#workspaces button.focused {
  background-color: #15947f;
  box-shadow: 0px 2px 2px #000000;
}
#workspaces button.active {
  background-color: #15947f;
  box-shadow: 0px 2px 2px #000000;
}
#workspaces button.urgent {
  background-color: #ff5995;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#mode, #submap {
  background-color: rgba(131, 22, 82, 0.548);
  border-radius: 10px;
  border: solid 2px transparent;
  padding: 0 5px;
  margin: 4px 8px;
}

#clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #language, #keyboard-state, #idle_inhibitor, #mpd {
  padding: 0 15px;
  margin: 4px 2px;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgba(6, 20, 23, 0.8156862745);
}

#window, #workspaces {
  margin: 4px 2px;
}

.modules-right {
  background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/*Battery colors*/
#battery {
  color: #35d88c;
}
#battery.charging, #battery.plugged {
  color: #ffffff;
}
#battery.critical:not(.charging) {
  color: #f52b67;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #000000;
  }
}
#cpu {
  color: #23a2f1;
}

#pulseaudio {
  color: #23a2f1;
}
#pulseaudio.muted {
  color: #15947f;
}

#custom-media {
  color: #15947f;
  min-width: 100px;
}
#custom-notification {
  margin: 0px 5px 0px 1px;
  padding-right: 10px;
}
#custom-notification button:hover {
  background-color: #1d3f53;
}

#tray {
  background: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  margin-right: 0px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
#tray > * {
  background-color: transparent;
  margin-left: 1px;
}
#tray menu {
  background: rgba(7, 25, 36, 0.9294117647);
}
#tray menu menuitem {
  padding: 3px 0px;
}
#tray menu menuitem:hover {
  background: #272924;
}

#idle_inhibitor.activated {
  color: #15947f;
}

#mpd {
  color: #15947f;
}
#language {
  color: #a54382;
  min-width: 16px;
}

#keyboard-state {
  color: #1ae2a1;
  min-width: 16px;
}
#keyboard-state > label {
  background-color: transparent;
}
#keyboard-state > label.locked {
  color: #FFFF00;
}

tooltip {
  background-color: rgba(1, 14, 20, 0.8);
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
