* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #162c2e;
}

window#waybar {
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom: 2px;
    border-color: #1ae2a1;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.text-button {
    border-radius: 0;
}
.text-button label {
    background: none; 
}

#workspaces button {
    padding: 0 2px;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border-radius: 0;
    border-top: 2px;
    border-left: 0;
    border-right: 0;
    margin-right: 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    color: #23a1d1;
    border-color: #0a0f15;
}

#workspaces button.focused {
    border-bottom: solid 2px;
    border-color: #1ae2a1;
}

#workspaces button.urgent {
}

#mode {
    background-color: rgba(255,92,100,0.8);
    border-bottom: 3px solid #ffffff;
    padding: 0 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#language,
#keyboard-state,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0px 0px;
    color: #ffffff;
    background-color: #1d3f53;
}

#window,
#workspaces {
}

.module-right {
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
    color: #b3e3ff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #f151a1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
    color: #23a2f1;
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    color: #23a2f1;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    color: #740864;
    min-width: 16px;
}

#keyboard-state {
    color: #1ae2a1;
    min-width: 16px;
}

#keyboard-state > label {
    background-color: #1d3f53;
}

#keyboard-state > label.locked {
    color: #FFFF00;
}

