/*Defining colors*/
$barbg-color: #02142477;
$widget-bg-color: #081b25d0;
$main-font-color: #ffffff;
$font-color-2:#23a2f1;
$active-accent: #15947f;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FiraCode Nerd Font, FontAwesome, Helvetica, sans-serif;
  font-size: 12px;
  background-color: transparent;
}

window#waybar {
  background-color: $barbg-color;
  color: $main-font-color;
  transition-property: background-color;
  transition-duration: .5s;
  border-bottom: 2px;
  border-color: #1ae2a1;

  &.hidden {
    opacity: 0.2;
  }
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.text-button {
  border-radius: 0;

  label {
    background: none;
  }
}

#workspaces button {
  padding: 0px 10px 0px 4px;
  color: #ffffff;

  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;

  /* Avoid rounded borders under each workspace name */
  border-radius: 7px;
  border: solid 2px transparent;
  margin: 0px 2px;

  &:hover {
    background-color: #163d5d;
  }

  &.focused {
    background-color: $active-accent;
  }

  &.active {
    background-color: $active-accent;
  }

  &.urgent {
    background-color: #ff5995;
  }
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#mode {
  background-color: rgba(131, 22, 82, 0.548);
  border-radius: 10px;
  border: solid 2px transparent;
  padding: 0 5px;
  margin: 4px 8px;
}

#clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #language, #keyboard-state, #idle_inhibitor, #mpd {
  padding: 0 15px;
  margin: 4px 2px;
  border-radius: 10px;
  color: $main-font-color;
  background-color: $widget-bg-color;
}

#window, #workspaces {
    margin: 4px 2px;

}

.modules-right {
  background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
    
}

/*Battery colors*/
$battery-full: #35d88c;
$battery-plugged: #ffffff;
$battery-critical: #f52b67;

#battery {
  color: $battery-full;

  &.charging, &.plugged {
    color: $battery-plugged;
  }

  &.critical:not(.charging) {
    color: $battery-critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes blink {
  to {
    color: #000000;
  }
}

label:focus {}

#cpu {
  color: $font-color-2;
}

#memory, #disk, #backlight, #network.disconnected {}

#pulseaudio {
  color: $font-color-2;

  &.muted {
    color: $active-accent;
  }
}

#custom-media {
  color: $active-accent;
  min-width: 100px;

  &.custom-spotify, &.custom-vlc {}
}

#custom-notification {
  margin: 0px 5px 0px 1px;
  padding-right: 10px;

  button:hover {
    background-color: #1d3f53;
  }
}

#temperature.critical {}

#tray {
  background: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  margin-right: 0px;

  > {
    .passive {
      -gtk-icon-effect: dim;
    }

    .needs-attention {
      -gtk-icon-effect: highlight;
    }

    * {
      background-color: transparent;
      margin-left: 1px;
    }
  }
}

#idle_inhibitor.activated {
  color: $active-accent;
}

#mpd {
  color: $active-accent;

  &.disconnected, &.stopped, &.paused {}
}

#language {
  color: #a54382;
  min-width: 16px;
}

#keyboard-state {
  color: #1ae2a1;
  min-width: 16px;

  > label {
    background-color: transparent;

    &.locked {
      color: #FFFF00;
    }
  }
}

tooltip {
    background-color: rgba(1, 14, 20, 0.8);
    border-radius: 10px;
}
